body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 16px;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 64px 0;
}

.navbar .left {
    font-size: 2rem;
    /* font-weight: bold; */
}

.navbar .right {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .right a {
    text-decoration: none;
    color: black;
    transition: transform 0.2s ease;
}

.navbar .right a:hover {
    transform: scale(1.15);
}

.navbar .right img {
    width: 36px;
    height: 36px;
}

/* PRODUCT GRID */
.product-grid {
    display: grid;
    grid-template-areas:
        "new new best"
        "new new low-light"
        "easy-care easy-care low-light"
        "small medium large"
        "small medium large"
        "planter planter plant-care";
    gap: 16px;
    /* grid-auto-rows: minmax(auto, 600px); */
    width: 100%;
}

#new {
    grid-area: new;
}

#best {
    grid-area: best;
}

#easy-care {
    grid-area: easy-care;
}

#low-light {
    grid-area: low-light;
}

#small {
    grid-area: small;
}

#medium {
    grid-area: medium;
}

#large {
    grid-area: large;
}

#planter {
    grid-area: planter;
}

#plant-care {
    grid-area: plant-care;
}

.product {
    /* width: 600px; */
    position: relative;
}

.product img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.product .overlay {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    transition: all 0.2s ease;
}

.product .overlay:hover {
    cursor: pointer;
    font-style: italic;
    color: greenyellow;
}

.overlay.white {
    color: white;
}

/* RESPONSIVE */
@media only screen and (max-width: 1100px) {
    .container {
        max-width: 100%;
    }
    .product-grid {
        max-width: 100%;
        grid-template-areas:
            "new best"
            "easy-care easy-care"
            "low-light small"
            "medium large"
            "plant-care plant-care"
            "planter planter";
    }
}

@media only screen and (max-width: 768px) {
    .product-grid {
        max-width: 100%;
        grid-template-areas:
            "new"
            "best"
            "easy-care"
            "low-light"
            "small"
            "medium"
            "large"
            "plant-care"
            "planter";
    }
}
